#todo-item {
  height: 36px;
  border: 1px solid rgb(228, 228, 231);
  border-radius: 6px;
  padding: 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#todo-item div {
  display: flex;
  align-items: center;
  gap: 8px;
}

#todo-item div span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
}

button[type="button"] {
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
